<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/demodb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Format SQL -->
        <property name="format_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- <property name="hbm2ddl.auto">create</property> -->
        
        <!-- Create Only if does not exists -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.demo.mapping.Person"/>
        <mapping class="org.demo.mapping.UserInfo"/>
        
        <mapping class="org.demo.mapping.DataConnection"/>
        <mapping class="org.demo.mapping.InputData"/>
        <mapping class="org.demo.mapping.OutputData"/>
        <mapping class="org.demo.mapping.InputFields"/>
        <mapping class="org.demo.mapping.JobStatus"/>
        <mapping class="org.demo.mapping.Patterns"/>
    </session-factory>
</hibernate-configuration>